<h1 class="text-danger">{{header}}</h1>

<div class="row">

    <div class="col-lg-4"></div>
    <div class="col-lg-4" style="margin-top:200px ;">
        <div class="border container">
            <h2 class="text-center text-danger">Login form</h2>
            <form action="" class=" m-5 p-5">
                <div>
                    <!--(change)="acnoChange($event)"-->
                    <input #acno class="form-control" type="text" [placeholder]="accPlaceholder">
                </div>
                <div>
                    <!-- (change)="pswdChange($event)"-->
                    <input #pswd  class="form-control mt-3" type="password" placeholder="enter password">
                </div>
                <div>
                    <input (click)="login(acno,pswd)" class="btn btn-primary mt-3" type="button" value="login" name="" id="loginBtn">
                </div>
            </form>
            <div>
                <label for="">not a user?click here to <a href="register">register</a></label>
            </div>
        </div>
       
    </div>
    <div class="col-lg-4"></div>
</div>